{% extends 'base.html' %}
{% block content %}
{% block title %}Password Reset{% endblock %}
{% load static %}
<style>
    .container {
        width: 50%;
    }

    select#employee {
        width: 106%;
        padding: 20px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ffffff;
        /* White border */
        background-color: #333333;
        /* Dark input background color */
        color: #ffffff;
        /* Light text color */
    }

    input[type="text"] {
        width: 100%;
        padding: 20px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ffffff;
        /* White border */
        background-color: #333333;
        /* Dark input background color */
        color: #ffffff;
        /* Light text color */
    }

    input[type="submit"] {
        width: 107%;
        padding: 15px;
        border-radius: 5px;
        border: none;
        background-color: #007bff;
        /* Blue button color */
        color: #ffffff;
        /* Light text color */
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
        /* Darker blue color on hover */
    }

    h2 {
        text-align: center;
    }
</style>
</head>

<body>
    <div class="container header">
        <h2>Password Reset</h2>
        <form method="post">
            {% csrf_token %}
            <select name="employee_id" id="employee">
                <option value="">Select Employee</option>
                {% for employee in employees %}
                <option value="{{employee.id}}">{{employee.first_name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Set Temporary Password">
        </form>
    </div>
    {% endblock %}